body{
    background-image: url(Home.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}
#play{
    margin-top: 55vh;
    margin-left: 200px;
    width: 200px;
    height: 70px;
    font-size: xx-large;
    background-color: #F24C4C;
    border-radius: 20px;
}
#ins{
    margin-left: 157px;
    margin-top:8vh;
    width: 300px;
    height: 70px;
    font-size: xx-large;
    background-color: #F24C4C;
    border-radius: 20px;
}